{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.1148", :deps/manifest :mvn}
        com.phronemophobic/treemap-clj { :mvn/version "0.2.5"
                                        ;; :local/root "../treemap-clj"
                                        }
        com.phronemophobic/membrane {:mvn/version "0.9.31.8-beta"
                                     ;; :local/root "../membrane2"
                                     }
        }
 :aliases
 {
  :snowball {:exec-fn com.phronemophobic.snowball/-main
             :exec-args {}}

  :project
  {:extra-deps {com.phronemophobic.membrane/skialib-macosx-aarch64
                {:mvn/version "0.9.31.0-beta"
                 ;;:local/root "../membrane2/csource/macos-aarch64"
                 }}}

  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "snowball.jar" :sync-pom true}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "snowball.jar"}}}}
